<div class="wrapper fadeInDown">
  <h1>Create Student User</h1>
  <div id="formContentLecon">

    <!--    <div class="p-3 mb-2 bg-danger text-white">user</div>-->
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/img/iconeleve.png" id="icon" alt="User Icon"/>


      <form  [formGroup]="profileForm" (submit)="onSubmit()">

        <label for="username"> </label>

        <label for="password"> </label>
        <input id="username" type="text" formControlName="username">

        <input id="password" type="password" formControlName="password">
<!--        <input type="password" class="form-control" id="password" placeholder="password">-->
        <button class="btn btn-success" type="submit">submit</button>

      </form>

      <a  class="fadeIn fourth" href="http://localhost:4200" role="button">deconnexion</a>

<!--      <a class="fadeIn fourth"  role="button" routerLink="">retour</a>-->



    </div>
    <!-- Remind Passowrd -->
    <div id="formFooterLecon">
      <!--      <a class="underlineHover" href="#">Forgot Password?</a>-->
    </div>
  </div>
</div>
