<div class="wrapper fadeInDown">
  <h1>{{eleve}}</h1>

  <div id="formContentEleve">
    <!--    <div class="p-3 mb-2 bg-danger text-white">user</div>-->
    <!-- Tabs Titles -->
    <nav class="navbar navbar-dark bg-dark">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/img/iconeleve.png" id="icon" alt="User Icon"/>

      <a class="fadeIn fourth" href="http://localhost:4200"  role="button">deconnexion</a>

      <a class="fadeIn fourth"  routerLink="/lecon"  role="button">leçon</a>


    </div>

    <!-- Remind Passowrd -->
    <div id="formFooterEleve">

    </div>


  </div>



</div>

<router-outlet></router-outlet>

